# Node files
/node_modules

# Build files
/dist 
/src/types/contracts

# Environment files
/.env

# Hardhat files
/cache
/artifacts

# OSX files
.DS_Store

# VSC files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

